    
      <button class="button_add">Добавить</button> 
      <script>

            document.querySelector('.button_add').addEventListener('click',  function(){ 	
                  //const fs = require('fs').promises;
                  //console.log(1);
                  //fs.writeFile('fil.txt', "test");
            })
      </script>
      <img class = "picture" src="{{guitar.photo}}" alt="picture">
      <h1>{{guitar.name_guitar}}</h1>
      <h2>{{guitar.about_guitar}}</h2>
      <h1>{{guitar.price}}</h1>              
    