 <div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0">
  <form method="post">
    <br>
    <p class="text-center">Magazz</p>
     <br>
    <div class="form-group form-control-lg ">
      <input type="text" name="userName" class="form-control" id="inputEmail4" placeholder="User name" >
       <br>
    <div class="form-group col-md-40 password ">
      <input type="password" name="password" class="form-control" id="inputPassword4" placeholder="Password">    
    </div>
          
         <br>
        <button type="submit" class="btn btn-primary " style="width: 250px;">Войти</button>

  </form>
 </div>