       <form method="post">
        <div class="col-6">
          <div class="p-2 border " >
            {{#each data}}
                <h1>{{this}}</h1>
            {{/each}}
          </div>            
        </div>  
       <button>Удалить</button>
       </form>