
  <div class="container text-center" >
    <div class="row g-2">
      {{#each guitars}}
       <div class="col-6">
          <div class="p-2 border " >
             <img class="picture" onclick="openWindow({{this.id}})" src="{{this.photo}}" alt="picture">
             <h1 class="name_guitar" onclick="openWindow({{this.id}})">{{this.name_guitar}}</h1>
          </div>                  
       </div>     
      {{/each}}
    </div>
  </div>
</div>
  