 
       <h1 class="entry-title">{{table}}</h1>
      {{#each data_table}}
       <div class="col-6">
          <div class="p-2 border " >
                <h1 class="obj" onclick="openObject('{{this.id}}')">Object({{this.id}})</h1>
          </div>                  
       </div>     
      {{/each}}
      <button class="addButton" onclick="openAdd()">Добавить</button>    
