.basket{
   
    position: absolute;
    width: 104px;
    height: 79px;
    left: 1745px;
    top: 52px;

}

.hat{
    position: relative;
    width: 1920px;
    height: 1024px;
    display:flex;
    flex-flow: row no;
}

.title{
    position: absolute;
    width: 549px;
    height: 142px;
    left: 751px;
    top: 72px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    
    color: #000000;
}

.picture1{
    position: absolute;
    width: 144.51px;
    height: 141px;
    left: 190px;
    top: 281px;
}

.picture2{
    position: absolute;
    width: 153px;
    height: 141px;
    left: 182px;
    top: 507px;
}

.picture3{
    position: absolute;
    width: 74px;
    height: 154px;
    left: 222px;
    top: 727px;
}

.text_picure1{
    position: absolute;
    width: 462px;
    height: 61px;
    left: 441px;
    top: 335px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.text_picure2{
    position: absolute;
    width: 462px;
    height: 61px;
    left: 441px;
    top: 574px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.text_picure3{
    position: absolute;
    width: 470px;
    height: 53px;
    left: 417px;
    top: 777px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.ikon{
    position: absolute; 
    background: #FDF7F7;
}

.ikon1{
    position: absolute;
    width: 874px;
    height: 177px;
    left: 152px;
    top: 263px;
    
    background: #FDF7F7;
}

.ikon2{
    position: absolute;
    width: 874px;
    height: 177px;
    left: 152px;
    top: 489px;
    
    background: #FDF7F7;
}

.ikon3{
    position: absolute;
    width: 874px;
    height: 177px;
    left: 152px;
    top: 715px;
    
    background: #FDF7F7;
}