
.name_guitar {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    
    color: #3D3737;
}

.password{
    
    
}

.btn-primary{

}