.header_area {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.mb-40 {
    margin-bottom: 70px;
}





.section_gap_bottom_custom {
    padding-bottom: 150px;
}

.main_title {
    text-align: center;
    margin-bottom: 75px;
}

.main_title h2 {
    font-size: 24px;
    color: #2a2a2a;
    margin-bottom: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.main_title h2 span {
    position: relative;
    display: inline-block;
}

.main_title h2 span:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -15px;
    width: 100%;
    height: 1px;
    background: #ebedee;
}

.main_title p {
    font-size: 14px;
    font-family: "Roboto",sans-serif;
    font-weight: normal;
    line-height: 24px;
    color: #797979;
    margin-bottom: 0px;
}

.single-product {
    text-align: center;
    margin-bottom: 50px;
}

.single-product .product-img {
    background: rgba(191, 195, 187, 0.4);
    position: relative;
    overflow: hidden;
}

.single-product .product-img .p_icon {
    width: 90%;
    padding: 7px 30px;
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(113,205,20,0.4);
    transition: all 400ms ease;
}




.single-product .product-btm {
    padding: 22px 25px 18px;
    border: 1px solid #f0f2f1;
    text-align: left;
}

.single-product .product-btm h4 {
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0px;
    transition: all 300ms linear 0s;
}

.single-product .product-btm span {
    font-family: "Heebo",sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
    color: #2a2a2a;
}






/*footer*/
.footer-area {
    background: #0d0d1f;
}

.section_gap {
    padding: 120px 0px;
}

.footer-area .single-footer-widget ul li {
    margin-bottom: 15px;
    list-style: none;
}

.footer-area .single-footer-widget h4 {
    color: #ffffff;
    margin-bottom: 35px;
}

h4 {
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Heebo",sans-serif;
    color: #2a2a2a;
    font-weight: 500;
}

.footer-area .single-footer-widget ul {
    padding-left: 0px;
}

.footer-area .single-footer-widget ul li {
    margin-bottom: 15px;
    list-style: none;
}

.footer-area .single-footer-widget ul li a {
    transition: all 300ms linear 0s;
    color: #797979;
}

a {
    text-decoration: none;
}

.footer-area .footer-bottom {
    margin-top: 50px;
}

.footer-area .footer-bottom p {
    color: #ffffff;
}

.footer-area .footer-bottom .footer-social {
    text-align: center;
}

.footer-area .single-footer-social{
    padding-top: 120px;
    padding-left: 60px;
}

.footer-area .single-footer-social  a {
    background: rgba(255,255,255,0.15);
    margin-left: 5px;
    width: 40px;
    color: #ffffff;
    display: inline-grid;
    text-align: center;
    height: 40px;
    align-content: center;
    transition: all 300ms linear 0s;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
