.rating-area {
	overflow: hidden;
	width: 265px;

}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > .star-rating {
	float: right;
	width: 42px;
	padding: 0;
	cursor: pointer;
	font-size: 32px;
	line-height: 32px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > .star-rating:before {
	content: '★';
}
.rating-area > input:checked ~ .star-rating {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > .star-rating:hover,
.rating-area:not(:checked) > .star-rating:hover ~ .star-rating {
	color: gold;
}
.rating-area > input:checked + .star-rating:hover,
.rating-area > input:checked + .star-rating:hover ~ .star-rating,
.rating-area > input:checked ~ .star-rating:hover,
.rating-area > input:checked ~ .star-rating:hover ~ .star-rating,
.rating-area > .star-rating:hover ~ input:checked ~ .star-rating {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area > .star-rating:active {
	position: relative;
}

.radio-toolbar input[type="radio"] {
  display: none;
}


.user-rating{
	width: 265px;
}

.user-rating .star-user {
	float: right;
	width: 42px;
	padding: 0;
	cursor: pointer;
	font-size: 32px;
	line-height: 32px;
	color: gold;
	text-shadow: 1px 1px goldenrod;
}

.user-rating .star-user:before {
	content: '★';
}
